<div class="container">

  <div class="brand-description">
  <% if @host %>
    <p><strong>Be our guest</strong> helps you monetize underutilized lobby space while your hotel guests are out or at work.</p>
  <% else %>
    <p><strong>Be our guest</strong> offers exquisitely designed coworking spaces in hotels. Ditch your conventional office and come find inspiration and increase productivity with us.</p>
  <% end %>
  </div>

  <div class="cards-container">
    <section id="show-listings">
      <% if @host %>
        <h3>My spaces</h3>
      <% else %>
        <div class="d-flex justify-content-between">
          <h3>Spaces in Singapore</h3>
          <a href="#" id="map_button"><i class="ml-2 fas fa-search-location"></i>Search by map</a>
        </div>
        <div
          id="map"
          class="mt-2 mb-4"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      <% end %>
    </section>

    <% if @host %>
      <% if @host.spaces.empty? %>
        <p>You have no space yet.</p>
        <%= link_to "Add a space now", new_host_space_path(current_host) %>
      <% end %>
      <%= render 'card', spaces: @spaces, host: @host %>
    <% else %>
      <%= render 'card', spaces: @spaces, host: nil %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'map' %>
