<div class="container">
  <h2>Upcoming Bookings</h2>

  <div class="booking-cards">
    <% @bookings.each do |booking| %>
      <div class="card-booking my-3 d-flex bd-highlight mb-3">
        <img src="<%= booking.space.images[0] %>" />
        <div class="p-5 bd-highlight">
          <h2><%= booking.space.name %></h2>
          <p>Customer name: <%= booking.client_name %></p>
        </div>
        <div class="ml-auto p-5 bd-highlight">
          <% if booking.confirmed %>
            <%= link_to "Confirmed", root_path, class: "btn btn-ghost" %>
          <% else %>
            <%= link_to "Pending", root_path, class: "btn btn-ghost" %>
          <% end %>
          <%= link_to "View Details", booking_path(booking), class: "btn btn-ghost" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
