<div class="container mt-4">
  <% if host_signed_in? %>
    <div class="text-left">
      <h2>Booking Details for <%= @booking.space.name %></h2>
      <ul class="mt-4 list-group list-group-flush">
        <li class="list-group-item"><i class="fas fa-user"></i> Customer name: <%= @booking.client_name %></li>
        <li class="list-group-item"><i class="fas fa-envelope"></i> Customer email: <%= @booking.client_email %></li>
        <li class="list-group-item"><i class="far fa-calendar-alt"></i> Date booked: <%= @booking.start_time.strftime('%A, %b %d') %></li>
        <li class="list-group-item"><i class="far fa-clock"></i> Start time: <%= @booking.start_time.strftime('%I:%M %p') %></li>
        <li class="list-group-item"><i class="fas fa-clock"></i> End time: <%= @booking.end_time.strftime('%I:%M %p') %></li>
        <li class="list-group-item"><i class="fas fa-dollar-sign"></i> Payment by customer: $<%= ((@booking.end_time - @booking.start_time) / 3600 * @booking.space.price_per_hour).round %></li>
      </ul>
      <%= link_to "Confirm Booking", booking_confirmation_path(@booking), method: :patch, class: "btn btn-ghost" %>
      <%= link_to "Reject Booking", booking_path(@booking), method: :delete, data: {confirm: "Are you sure you want to reject this booking?"}, class: "btn btn-ghost" %>
    </div>
  <% else %>
    <div class="text-center">
      <% if @booking.confirmed %>
        <h2>Your booking is confirmed!</h2>
      <% else %>
        <h2>Your booking is not yet confirmed.</h2>
        <p>You will receive an email when the booking is confirmed.</p>
      <% end %>
      <img src='https://source.unsplash.com/1600x900/?hotel-lounge <%= @booking.space.id %>' class="confirmed-booking-img" alt="hotel-lounge">
      <h3>You have booked <strong><%= @booking.space.name %></strong></h3>
      <h3>for <strong><%= @booking.start_time.strftime('%A, %b %d') %></strong> from <strong><%= @booking.start_time.strftime('%I:%M %p') %></strong> till <strong><%= @booking.end_time.strftime('%I:%M %p') %></strong></h3>
      <h5 class="my-3">You will be charged $<%= ((@booking.end_time - @booking.start_time) / 3600 * @booking.space.price_per_hour).round %>.</h5>
      <p>Thank you for using <em>Be our guest</em>, <%= @booking.client_name %> <i class="far fa-laugh-beam"></i></p>
    </div>
  <% end %>
</div>
