<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= cl_image_tag("dl0nojyrknsyx0xvoz2m")  %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item booking-search mr-3">
        <div>
          <%= form_tag(bookings_search_path, method: "get", class: "nav-link") do |f| %>
            <%= label_tag(:q, "Booking ID:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search", class: "booking-search-button") %>
          <% end %>
        </div>
      </li>
      <li class="nav-item mt-1">
        <%= link_to "Host Login / Signup", new_host_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
